<%= form_for(@feed) do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% @feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, :value => cookies[:user_id], :readonly => true %>
  </div>
  <div class="field">
    <%= f.label "Website" %><br>
    <%= f.select :url, Feed.all.collect { |p| [ p.name, p.id ] }, include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit "Add Feed" %>
  </div>
<% end %>
