<p id="notice"><%= notice %></p>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% cookies[:user_id] = { :value => current_user.id } %>

<% @feeds.each do |feed| %>
    <% open feed.url do |url| %>
        <% rss = RSS::Parser.parse(url) %>
        <h1><img width="25%"  src="<%= rss.channel.image.url %>"/></h1>
        <h1><%=rss.channel.title%></h1>
        <h1>Number of articles: <%= rss.channel.items.size %></h1>

        <!-- Goes through the first 5 items in the feed
        can change how many of each feed to print -->
        <% rss.channel.items[1..5].each { |item| %>

            <h3><%= item.title %></h3>

            <p><%=
                item.description[0..150].split('<').first.split('? ').first.split('! ').first.split('. ').first.split('Read full').first
               %>...</p>
            <a href="<%=item.link%>">Read full article</a>
        <% } %>
    <% end %>

      <%= link_to 'Show', feed %>
    <!-- <link_to 'Edit', edit_feed_path(feed)>  don't think this should be an option -->
      <%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %>
    </tr>
<% end %>

<br><br><br>

<%= link_to 'New Feed', new_feed_path %>
